DATABASE_URL = "postgresql://postgres:postgres@127.0.0.1:5432/blog_example"
TEST_DATABASE_URL = "postgresql://postgres:postgres@127.0.0.1:5432/blog_example_test"
HOST = "127.0.0.1"
PORT = 3000
JWT_SECRET = "@sdf_$123Dw234kjsdk?"
JWT_TTL = 86400
RUST_LOG = "actix_web=info,web_app=trace"
